@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

/*

- CORES - 

Azul gradient: rgba(52,138,219,1);
Azul: #73b2fa;
Verde neon: #A3EBB1;
Azul verde: #21B6A8;
Verde: #116530;
Branco: #fff;
Preto: #222;

*/  

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

nav{
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: fixed;

}

ul{
    display: flex;
    gap: 30px;
}

li {
    color: rgb(255, 255, 255);
    list-style: none;
    cursor: pointer; 
}

li:hover{
    color:#73b2fa;
    transition: 0.1s;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40px;
    width: 160px;
    color: white;
    background: rgba(52,138,219,1);
    border-radius: 20px;
    cursor: pointer;
    gap: 5px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
}
h1{
    color: rgb(255, 255, 255);
    
}

.banner{
    background-image: url("https://imgmd.net/images/v1/guia/1684246/florianopolis-65-c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 325px;
}

.content-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-texto h1{
    font: bold;
    color: #fff;
}

.content .box{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 90px;
    width: 40vw;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;

}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buscar input{
    height: 35px;
    border: none;
    border-radius: 10px;
    width: 30vw;
    padding-left: 8px;
}

.enviar{
    width: 100px;
    border-radius: 10px;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box2{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 32px -18px rgba(0,0,0,0.75);
    height: 90px;
    width: 40vw;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
}

.buscar2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.buscar2 input{
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 10vw;
    padding-left: 8px;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 350px;
}


.titulo h3{
    font-size: 30px;
    color: #fff;
}

.titulo h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
